{
    "swagger": "2.0",
    "info": {
        "title": "Lithosurfer API: Management",
        "contact": {
            "email": "support@lithosurfer.io"
        },
        "license": {
            "name": "API License Agreement",
            "url": "https://docs.google.com/document/d/e/2PACX-1vTyOIVPHtIUBJIuaMCkm9gG31GPEaKiIRW4GibzfgDGG-6JCh1rf8cX7CA6WYBJqUmCNST03-ORt680/pub"
        }
    },
    "host": "devapp.lithodat.com",
    "basePath": "/",
    "tags": [
        {
            "name": "basket-2-data-package-litho-resource",
            "description": "Basket 2 Data Package Litho Resource"
        },
        {
            "name": "basket-litho-resource",
            "description": "Basket Litho Resource"
        },
        {
            "name": "community-litho-resource",
            "description": "Community Litho Resource"
        },
        {
            "name": "data-package-2-editor-litho-resource",
            "description": "Data Package 2 Editor Litho Resource"
        },
        {
            "name": "data-package-2-supervisor-litho-resource",
            "description": "Data Package 2 Supervisor Litho Resource"
        },
        {
            "name": "data-package-2-user-litho-resource",
            "description": "Data Package 2 User Litho Resource"
        },
        {
            "name": "data-package-litho-resource",
            "description": "Data Package Litho Resource"
        },
        {
            "name": "email-litho-resource",
            "description": "Email Litho Resource"
        },
        {
            "name": "feature-litho-resource",
            "description": "Feature Litho Resource"
        },
        {
            "name": "institution-2-community-litho-resource",
            "description": "Institution 2 Community Litho Resource"
        },
        {
            "name": "institution-2-package-litho-resource",
            "description": "Institution 2 Package Litho Resource"
        },
        {
            "name": "institution-2-user-litho-resource",
            "description": "Institution 2 User Litho Resource"
        },
        {
            "name": "institution-litho-resource",
            "description": "Institution Litho Resource"
        },
        {
            "name": "l-institution-2-package-role-litho-resource",
            "description": "L Institution 2 Package Role Litho Resource"
        },
        {
            "name": "license-2-feature-litho-resource",
            "description": "License 2 Feature Litho Resource"
        },
        {
            "name": "license-assignment-litho-resource",
            "description": "License Assignment Litho Resource"
        },
        {
            "name": "litho-user-litho-resource",
            "description": "Litho User Litho Resource"
        },
        {
            "name": "user-license-litho-resource",
            "description": "User License Litho Resource"
        },
        {
            "name": "user-property-litho-resource",
            "description": "User Property Litho Resource"
        }
    ],
    "paths": {
        "/api/management/Basket2DataPackage": {
            "get": {
                "tags": [
                    "basket-2-data-package-litho-resource"
                ],
                "summary": "getAll",
                "operationId": "getAllUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "basketId.equals",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "basketId.greaterOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "basketId.greaterThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "basketId.in",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "basketId.lessOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "basketId.lessThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "basketId.specified",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "dataPackageId.equals",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "dataPackageId.greaterOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "dataPackageId.greaterThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "dataPackageId.in",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "dataPackageId.lessOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "dataPackageId.lessThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "dataPackageId.specified",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "id.equals",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id.greaterOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id.greaterThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id.in",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "id.lessOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id.lessThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id.specified",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number of the requested page",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "queryParams",
                        "in": "query",
                        "description": "queryParams",
                        "required": true,
                        "items": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "Size of a page",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Basket2DataPackageDTO"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "basket-2-data-package-litho-resource"
                ],
                "summary": "create",
                "operationId": "createUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "dto",
                        "description": "dto",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Basket2DataPackageDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Basket2DataPackageDTO"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "put": {
                "tags": [
                    "basket-2-data-package-litho-resource"
                ],
                "summary": "update",
                "operationId": "updateUsingPUT",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "dto",
                        "description": "dto",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Basket2DataPackageDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Basket2DataPackageDTO"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/api/management/Basket2DataPackage/count": {
            "get": {
                "tags": [
                    "basket-2-data-package-litho-resource"
                ],
                "summary": "count",
                "operationId": "countUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "basketId.equals",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "basketId.greaterOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "basketId.greaterThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "basketId.in",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "basketId.lessOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "basketId.lessThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "basketId.specified",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "dataPackageId.equals",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "dataPackageId.greaterOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "dataPackageId.greaterThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "dataPackageId.in",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "dataPackageId.lessOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "dataPackageId.lessThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "dataPackageId.specified",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "id.equals",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id.greaterOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id.greaterThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id.in",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "id.lessOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id.lessThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id.specified",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/api/management/Basket2DataPackage/{id}": {
            "get": {
                "tags": [
                    "basket-2-data-package-litho-resource"
                ],
                "summary": "get",
                "operationId": "getUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Basket2DataPackageDTO"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "basket-2-data-package-litho-resource"
                ],
                "summary": "delete",
                "operationId": "deleteUsingDELETE",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "deprecated": false
            }
        },
        "/api/management/Community": {
            "get": {
                "tags": [
                    "community-litho-resource"
                ],
                "summary": "getAll",
                "operationId": "getAllUsingGET_2",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "id.equals",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id.greaterOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id.greaterThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id.in",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "id.lessOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id.lessThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id.specified",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "institution2CommunityId.equals",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "institution2CommunityId.greaterOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "institution2CommunityId.greaterThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "institution2CommunityId.in",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "institution2CommunityId.lessOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "institution2CommunityId.lessThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "institution2CommunityId.specified",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "licenseAssignmentId.equals",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "licenseAssignmentId.greaterOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "licenseAssignmentId.greaterThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "licenseAssignmentId.in",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "licenseAssignmentId.lessOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "licenseAssignmentId.lessThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "licenseAssignmentId.specified",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "name.contains",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "name.equals",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "name.in",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "name.specified",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number of the requested page",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "queryParams",
                        "in": "query",
                        "description": "queryParams",
                        "required": true,
                        "items": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "Size of a page",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CommunityDTO"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "community-litho-resource"
                ],
                "summary": "create",
                "operationId": "createUsingPOST_2",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "dto",
                        "description": "dto",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CommunityDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CommunityDTO"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "put": {
                "tags": [
                    "community-litho-resource"
                ],
                "summary": "update",
                "operationId": "updateUsingPUT_2",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "dto",
                        "description": "dto",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CommunityDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CommunityDTO"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/api/management/Community/count": {
            "get": {
                "tags": [
                    "community-litho-resource"
                ],
                "summary": "count",
                "operationId": "countUsingGET_2",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "id.equals",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id.greaterOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id.greaterThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id.in",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "id.lessOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id.lessThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id.specified",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "institution2CommunityId.equals",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "institution2CommunityId.greaterOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "institution2CommunityId.greaterThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "institution2CommunityId.in",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "institution2CommunityId.lessOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "institution2CommunityId.lessThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "institution2CommunityId.specified",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "licenseAssignmentId.equals",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "licenseAssignmentId.greaterOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "licenseAssignmentId.greaterThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "licenseAssignmentId.in",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "licenseAssignmentId.lessOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "licenseAssignmentId.lessThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "licenseAssignmentId.specified",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "name.contains",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "name.equals",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "name.in",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "name.specified",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/api/management/Community/{id}": {
            "get": {
                "tags": [
                    "community-litho-resource"
                ],
                "summary": "get",
                "operationId": "getUsingGET_2",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CommunityDTO"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "community-litho-resource"
                ],
                "summary": "delete",
                "operationId": "deleteUsingDELETE_2",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "deprecated": false
            }
        },
        "/api/management/DataPackage2User": {
            "get": {
                "tags": [
                    "data-package-2-user-litho-resource"
                ],
                "summary": "getAll",
                "operationId": "getAllUsingGET_5",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "dataPackageId.equals",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "dataPackageId.greaterOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "dataPackageId.greaterThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "dataPackageId.in",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "dataPackageId.lessOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "dataPackageId.lessThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "dataPackageId.specified",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "id.equals",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id.greaterOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id.greaterThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id.in",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "id.lessOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id.lessThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id.specified",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "lithoUserId.equals",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "lithoUserId.greaterOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "lithoUserId.greaterThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "lithoUserId.in",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "lithoUserId.lessOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "lithoUserId.lessThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "lithoUserId.specified",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "note.contains",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "note.equals",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "note.in",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "note.specified",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number of the requested page",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "queryParams",
                        "in": "query",
                        "description": "queryParams",
                        "required": true,
                        "items": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "role.equals",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "CONTACT",
                            "SUBSCRIBER"
                        ]
                    },
                    {
                        "name": "role.in",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string",
                            "enum": [
                                "CONTACT",
                                "SUBSCRIBER"
                            ]
                        },
                        "collectionFormat": "multi",
                        "enum": [
                            "CONTACT",
                            "SUBSCRIBER"
                        ]
                    },
                    {
                        "name": "role.specified",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "Size of a page",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/DataPackage2UserLithoDTO"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "data-package-2-user-litho-resource"
                ],
                "summary": "create",
                "operationId": "createUsingPOST_5",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "Referer",
                        "in": "header",
                        "description": "Referer",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "dto",
                        "description": "dto",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DataPackage2UserLithoDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DataPackage2UserLithoDTO"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "put": {
                "tags": [
                    "data-package-2-user-litho-resource"
                ],
                "summary": "update",
                "operationId": "updateUsingPUT_5",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "dto",
                        "description": "dto",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DataPackage2UserLithoDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DataPackage2UserLithoDTO"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/api/management/DataPackage2User/count": {
            "get": {
                "tags": [
                    "data-package-2-user-litho-resource"
                ],
                "summary": "count",
                "operationId": "countUsingGET_5",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "dataPackageId.equals",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "dataPackageId.greaterOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "dataPackageId.greaterThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "dataPackageId.in",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "dataPackageId.lessOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "dataPackageId.lessThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "dataPackageId.specified",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "id.equals",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id.greaterOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id.greaterThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id.in",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "id.lessOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id.lessThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id.specified",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "lithoUserId.equals",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "lithoUserId.greaterOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "lithoUserId.greaterThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "lithoUserId.in",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "lithoUserId.lessOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "lithoUserId.lessThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "lithoUserId.specified",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "note.contains",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "note.equals",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "note.in",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "note.specified",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "role.equals",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "CONTACT",
                            "SUBSCRIBER"
                        ]
                    },
                    {
                        "name": "role.in",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string",
                            "enum": [
                                "CONTACT",
                                "SUBSCRIBER"
                            ]
                        },
                        "collectionFormat": "multi",
                        "enum": [
                            "CONTACT",
                            "SUBSCRIBER"
                        ]
                    },
                    {
                        "name": "role.specified",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/api/management/DataPackage2User/{id}": {
            "get": {
                "tags": [
                    "data-package-2-user-litho-resource"
                ],
                "summary": "get",
                "operationId": "getUsingGET_5",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DataPackage2UserLithoDTO"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "data-package-2-user-litho-resource"
                ],
                "summary": "delete",
                "operationId": "deleteUsingDELETE_5",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "Referer",
                        "in": "header",
                        "description": "Referer",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "deprecated": false
            }
        },
        "/api/management/Feature": {
            "get": {
                "tags": [
                    "feature-litho-resource"
                ],
                "summary": "getAll",
                "operationId": "getAllUsingGET_6",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "id.equals",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id.greaterOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id.greaterThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id.in",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "id.lessOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id.lessThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id.specified",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "license2FeatureId.equals",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "license2FeatureId.greaterOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "license2FeatureId.greaterThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "license2FeatureId.in",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "license2FeatureId.lessOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "license2FeatureId.lessThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "license2FeatureId.specified",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "name.contains",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "name.equals",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "name.in",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "name.specified",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number of the requested page",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "queryParams",
                        "in": "query",
                        "description": "queryParams",
                        "required": true,
                        "items": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "Size of a page",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "sortorder.equals",
                        "in": "query",
                        "required": false,
                        "type": "number",
                        "format": "float"
                    },
                    {
                        "name": "sortorder.greaterOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "number",
                        "format": "float"
                    },
                    {
                        "name": "sortorder.greaterThan",
                        "in": "query",
                        "required": false,
                        "type": "number",
                        "format": "float"
                    },
                    {
                        "name": "sortorder.in",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "number",
                            "format": "float"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "sortorder.lessOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "number",
                        "format": "float"
                    },
                    {
                        "name": "sortorder.lessThan",
                        "in": "query",
                        "required": false,
                        "type": "number",
                        "format": "float"
                    },
                    {
                        "name": "sortorder.specified",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/FeatureDTO"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "feature-litho-resource"
                ],
                "summary": "create",
                "operationId": "createUsingPOST_6",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "dto",
                        "description": "dto",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/FeatureDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/FeatureDTO"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "put": {
                "tags": [
                    "feature-litho-resource"
                ],
                "summary": "update",
                "operationId": "updateUsingPUT_6",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "dto",
                        "description": "dto",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/FeatureDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/FeatureDTO"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/api/management/Feature/count": {
            "get": {
                "tags": [
                    "feature-litho-resource"
                ],
                "summary": "count",
                "operationId": "countUsingGET_6",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "id.equals",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id.greaterOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id.greaterThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id.in",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "id.lessOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id.lessThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id.specified",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "license2FeatureId.equals",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "license2FeatureId.greaterOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "license2FeatureId.greaterThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "license2FeatureId.in",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "license2FeatureId.lessOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "license2FeatureId.lessThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "license2FeatureId.specified",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "name.contains",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "name.equals",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "name.in",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "name.specified",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "sortorder.equals",
                        "in": "query",
                        "required": false,
                        "type": "number",
                        "format": "float"
                    },
                    {
                        "name": "sortorder.greaterOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "number",
                        "format": "float"
                    },
                    {
                        "name": "sortorder.greaterThan",
                        "in": "query",
                        "required": false,
                        "type": "number",
                        "format": "float"
                    },
                    {
                        "name": "sortorder.in",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "number",
                            "format": "float"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "sortorder.lessOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "number",
                        "format": "float"
                    },
                    {
                        "name": "sortorder.lessThan",
                        "in": "query",
                        "required": false,
                        "type": "number",
                        "format": "float"
                    },
                    {
                        "name": "sortorder.specified",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/api/management/Feature/{id}": {
            "get": {
                "tags": [
                    "feature-litho-resource"
                ],
                "summary": "get",
                "operationId": "getUsingGET_6",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/FeatureDTO"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "feature-litho-resource"
                ],
                "summary": "delete",
                "operationId": "deleteUsingDELETE_6",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "deprecated": false
            }
        },
        "/api/management/Institution2Community": {
            "get": {
                "tags": [
                    "institution-2-community-litho-resource"
                ],
                "summary": "getAll",
                "operationId": "getAllUsingGET_7",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "communityId.equals",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "communityId.greaterOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "communityId.greaterThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "communityId.in",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "communityId.lessOrEqualThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "communityId.lessThan",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "communityId.specified",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "id.equals",
                        "in": "query",
                        "required": false,
                        "type": "integer",
[...]
